/* Day 1 of Header Styling */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.section_hero {
    background: url(images/heroSectionBackground.png);
    color: white;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 15px 200px;
}

.navbar_menu {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    /* font-size: large; */
}

.navbar_menu_link {
    font-size: larger;
}

.navbar_get_the_app {
    font-size: medium;
}

.section_hero_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-items: center;
    height: calc(60vh - 60px);
}

.section_hero_logo {
    width: 300px;
}

.section_hero_heading {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.section_hero_input_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.section_hero_input_location,
.section_hero_input_restaurant {
    padding: 5px;
    outline: none;
    border: none;
}

.section_hero_input_location {
    width: 35%;
}

.section_hero_input_restaurant {
    width: 65%;
    border-left: 1px solid rgb(108, 108, 108);
}

/* Day 2 */
.container {
    width: 80%;
    margin: 10px auto;
}

.we_offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}

.we_offer_card {
    /* width: 250px; */
    border: 2px solid gainsboro;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.we_offer_card:hover {
    transform: scale(1.05);
}

.we_offer_card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.we_offer_content {
    padding: 20px;
}

.we_offer_card h3 {
    font-weight: 450;
}

.we_offer_card p {
    color: gray;
    font-weight: 100;
}

.collections h1 {
    font-size: xx-large;
    font-weight: 500;
    padding-top: 20px;
    display: flex;
}

.collections .collections_subheading {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
    gap: 1rem;
}

.collections_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.collections_card_container .collection_card {
    height: 300px;
    width: 240px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.collection_card_content {
    color: white;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 12px 15px;
    font-size: 15px;
}

.collection_card_content h4 {
    font-weight: 400;
    font-size: larger;
}

.card1 {
    background: url(images/collection1.jpg);
}

.card2 {
    background: url(images/collection2.jpg);
}

.card3 {
    background: url(images/collection3.jpg);
}

.card4 {
    background: url(images/collection4.jpg);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.02) 85%);
}


/* day 3 */
.get_the_app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 249, 243);
    width: 90%;
    padding: 3rem 6rem;
    margin: 80px 0px;
}

.get_app_semi_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.get_app_left {
    flex: 20%;
}

.get_app_left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_app_right {
    flex: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get_app_right h1 {
    font-weight: 400;
    font-size: 2rem;
}

.get_app_right p {
    font-size: 1rem;
}

.radio_button_container {
    display: flex;
    gap: 20px;
}

.radio_button_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.type_input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.type_input input,
.type_input button {
    padding: 10px 12px;
    border-radius: 5px;
}

.type_input input {
    border: 1px solid gainsboro;
    outline: none;
    flex: auto;
}

.type_input button {
    border: none;
    background-color: rgb(239, 120, 54);
    color: white;
    cursor: pointer;
}

.download_app_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.download_app_container h5 {
    font-weight: 500;
    color: rgb(97, 97, 97);
}

.download_app_container div {
    display: flex;
    gap: 1rem;
}

.download_app_container img {
    width: 35%;
}

/* day 4 */
.footer {
    width: 100%;
    background-color: #f0f0f0;
}

.footer_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
}

.footer_section1 img {
    width: 120px;
}

.section1_button_container {
    display: flex;
    gap: 1rem;
}

.section1_button_container button {
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.section1_button_container button img {
    width: 20px;
}

.navigation_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    width: 80%;
    margin: auto;
    padding: 3rem 0rem;
}

.link_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    letter-spacing: 1px;
}

.link_container h5 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.footer_link {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 200;
    margin: 3px 0px;
}

.footer_link:hover {
    color: black;
}

.social_link_container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 50px;
}

.social_link_container button {
    background-color: black;
    border-radius: 100%;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_link_container button i {
    color: white;
}

.footer_section_store {
    width: 100%;
}

.disclaimer {
    width: 90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    padding: 2rem 0px;
    border-top: 1px solid gray;
}

.navbar i {
    display: none;
}



@media only screen and (max-width: 900px) {
    .navigation_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .navigation_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    .navigation_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .navbar a {
        display: none;
    }

    .navbar i {
        display: flex;
        position: absolute;
        right: 20%;
    }
}